<div class="list-view-container">

  <txs-pager *ngIf="options.enablePager"
             [name]="options.pagerId"
             [pager]="pager"
             (pageChange)="updateRows($event)">
  </txs-pager>


  <div class="list-container">
    <div class="row" *ngFor="let row of rows">
      <div class="col-md-12">

        <txs-view [instance]="row"
                  [allowViewModeSwitch]="allowViewModeSwitch"
                  [mode]="viewMode">
          <div txsViewFallback>
            <pre class="language-js">{{row | json}}</pre>
          </div>
        </txs-view>
      </div>
    </div>
  </div>


  <txs-pager *ngIf="options.enablePager"
             [name]="options.pagerId"
             [pager]="pager"
             frameSize="5"
             (pageChange)="updateRows($event)">
  </txs-pager>

</div>
