<div class="card-embedded">


  <div class="form-group">
    <label for="entityName">Entity name</label>
    <input type="text"
           class="form-control" id="entityName" placeholder="Entity name"
           [ngModel]="entityName"
    >
  </div>


  <txs-free-query-input
    *ngIf="options.freeQueryBuilder"
    (queryState)="onQueryAction($event)"
  >
  </txs-free-query-input>

  <txs-datatable
    #datatable
    [columns]="columns"
    [options]="options"
    [(params)]="params"
    (doQuery)="doQuery($event)"
  ></txs-datatable>

</div>

