

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}



.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-online {
  @extend .badge-success;
}

.badge-offline {
  @extend .badge-secondary;
}

.badge-initial {
  @extend .badge-warning;
}

