<div class="card">
  <div class="card-header">
    <h3>View entity "{{name}}"</h3>

  </div>
  <div class="card-body">
    <div *ngIf="!ready">
      Waiting ...
    </div>

    <div *ngIf="ready">
      <txs-view [instance]="instance" allowViewModeSwitch="true" mode="full">
        <div txsViewFallback>
          <txs-simple-json [instance]="instance"></txs-simple-json>
        </div>
      </txs-view>
    </div>

    <div>
      <a class="btn btn-primary" [routerLink]="[entityService.getNgUrlPrefix(),name,'query' ]">Query</a>
      <a class="btn btn-warning" [routerLink]="[entityService.getNgUrlPrefix(),name,'edit', id ]">Edit</a>
      <a class="btn btn-danger" [routerLink]="[entityService.getNgUrlPrefix(),name,'delete', id ]">Delete</a>
    </div>
  </div>
</div>
