<div class="wrapper">
  <header class="admin-header navbar">
    <a class="navbar-brand" href="#">Admin</a>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
  </header>

  <div class="admin-body">

    <div class="sidebar">
      <menu group="admin"></menu>
    </div>
    <main class="main">
      <div class="breadcrumbs"></div>
      <div class="container-fluid">

        <router-outlet></router-outlet>
      </div>

    </main>


  </div>
</div>
