body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;

}


.admin-header {
  -ms-flex-direction: row;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
  position: fixed;
  z-index: 1020;
  width: 100%;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px;
}

.sidebar {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  color: #fff;
  background: #2f353a;

  nav {
    transition: width .25s;
  }
}

.admin-body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-x: hidden;
  margin-top: 55px;

  .sidebar {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -ms-flex-order: -1;
    order: -1;
  }
}

.breadcrumb {
  transition: left .25s, right .25s, width .25s;
  position: relative;
  border-radius: 0;
  border-bottom: 1px solid #c8ced3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
}

