@import "scss/variables";
@import "scss/mixins";
@import "scss/scrollbar";

html,body {
  @include resetMarginPading;
}

body {
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}

.wrapper {
  @include resetMarginPading;
}

.admin-header {
  position: fixed;
  @include resetMarginPading;
  height: $header-height;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
  z-index: 1020;
  width: 100%;
}


.admin-body {

}


.sidebar {
  position: fixed;
  height: calc(100vh - 55px);
  // @include flex;
  margin-top: $header-height;
  overflow-x: hidden;
  overflow-y: auto;
  width: $sidebar-width;
  color: #fff;
  background: #2f353a;
  margin-left: 0;

  -ms-flex: 0 0 200px;
  flex: 0 0 200px;

  -ms-flex-order: -1;
  order: -1;

  nav {
    transition: width .25s;
  }

  .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #fff;
    text-decoration: none;
    background: transparent;
  }
}


.main {
  margin-left: $sidebar-width;

  .container-fluid {
    padding: 0 30px;
  }
}



.breadcrumbs {
  position: relative;
  display: flex;
  border-radius: 0;
  border-bottom: 1px solid #c8ced3;
  padding: .75rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0;

}

