<div class="card">
  <div class="card-header">
    <div class="float-right">
      <a class="btn btn-sm btn-primary" [routerLink]="[getNgUrlPrefix(),machineName,'query' ]">Query</a>
      <a class="btn btn-sm btn-primary" [routerLink]="[getNgUrlPrefix(),'types' ]">Types</a>
    </div>
    <h3>{{new ? 'Create' : 'Edit'}} entity "{{machineName}}"</h3>
  </div>
  <div class="card-body">

    <div *ngIf="!ready">
      Waiting ...
    </div>
    <div *ngIf="ready">
      <div *ngIf="error" class="error">{{error}}</div>
      <txs-form *ngIf="instance" formName="entity-create-form'" [instance]="instance"
                (ngSubmit)="onSubmit($event)"></txs-form>
    </div>
  </div>
</div>
