.level-0 {
  padding-left: 0em;
}

.level-1 {
  padding-left: 2em;
}

.level-2 {
  padding-left: 4em;
}

.level-3 {
  padding-left: 6em;
}

.level-4 {
  padding-left: 8em;
}

.level-5 {
  padding-left: 10em;
}

/*
tr td {
  width: 1%;
}
*/


.table-wrapper {

  overflow-x: auto;

  .col-ops {
    width: 80px;
  }
}


.btn-group-ops {
  a {

  }

  .btn-icon {
    width: 32px;
    height: 32px;
    padding: 4px 4px;
  }
}
