<div class="card">
  <div class="card-header">
    <h3>Tasks</h3>
  </div>
  <div class="card-body">

    <div class="row border border-light rounded " *ngFor="let task of tasks">
      <div class="col-md-2 mt-2">{{task.name}}</div>
      <div class="col-md mt-2">{{task.description}}</div>
      <div class="col-md-1 mt-2">{{task.getType()}}</div>
      <div class="col-md-2 mt-2">
        <ul>
          <li *ngFor="let nodeid of task.nodeIds">{{nodeid}}</li>
        </ul>
      </div>
      <div class="col-md-auto mt-1">
        <a class="btn btn-sm btn-primary"
                                  [routerLink]="[baseUrl(),'run',task.machineName]">Execute</a>
      </div>
    </div>

  </div>
</div>
