<div class="card">
  <div class="card-header">
    <h3>Entity Types</h3>
  </div>
  <div class="card-body">

    <table class="table hover">
      <thead>
      <tr>
        <th>Storage</th>
        <th>Schema</th>
        <th>Name</th>
        <th>machineName</th>
        <th>Options</th>
        <th>Ops</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let entityDef of getEntityRefs()">
        <td>{{entityDef.metadata.storage}}</td>
        <td>{{entityDef.object.schema}}</td>
        <td>{{entityDef.name}}</td>
        <td>{{entityDef.machineName}}</td>
        <td>
          <details>
            <summary>JSON</summary>
            <pre class="language-json">{{entityDef.getOptions() | json}}</pre>
          </details>

        </td>
        <td>
          <a class="btn btn-primary" *ngIf="storageService.isSupported('query')"
             [routerLink]="[storageService.getNgUrlPrefix(),entityDef.machineName,'query']">Query</a>
          <a class="btn btn-primary" *ngIf="storageService.isSupported('aggregate')"
             [routerLink]="[storageService.getNgUrlPrefix(),entityDef.machineName,'aggregate']">Aggregate</a>
          <a class="btn btn-success" *ngIf="storageService.isSupported('save')"
             [routerLink]="[storageService.getNgUrlPrefix(),entityDef.machineName,'create']">New</a>
          <a class="btn btn-warning" *ngIf="storageService.isSupported('metadata')"
             [routerLink]="[storageService.getNgUrlPrefix(),entityDef.machineName,'structure']">Schema</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
