<div class="row">


  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header">Node</div>
      <div class="card-block">
        <div class="row" *ngIf="infos().node">
          <div class="col-xl-12">
            <h6 class="align-items-center float-left">NodeId:</h6>
            <h6 class="align-items-center float-right">{{infos().node.nodeId}}</h6>
          </div>
          <div class="col-xl-12">
            <h6 class="align-items-center float-left">MachineId:</h6>
            <h6 class="align-items-center float-right">{{infos().node.machineId}}</h6>
          </div>
          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Hostname:</h6>
            <h6 class="align-items-center float-right">{{infos().node.hostname}}</h6>
          </div>
          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Started:</h6>
            <h6 class="align-items-center float-right">{{infos().node.started | date}}</h6>
          </div>


        </div>
        <div class="row" *ngIf="infos().info">
          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Arch:</h6>
            <h6 class="align-items-center float-right">{{infos().info.arch}}</h6>
          </div>

          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Release:</h6>
            <h6 class="align-items-center float-right">{{infos().info.release}}</h6>
          </div>

          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Load:</h6>
            <h6 class="align-items-center float-right">{{infos().info.loadavg.join('; ')}}</h6>
          </div>

          <div class="col-xl-12">
            <h6 class="align-items-center float-left">Memory</h6>
            <h6
              class="align-items-center float-right">{{infos().memoryScale(infos().info.memory.total - infos().info.memory.free)}}
              / {{infos().memoryScale(infos().info.memory.total)}}</h6>
            <div class="progress m-t-30 m-b-20" style="height: 6px;">
              <div class="progress-bar progress-c-theme"
                   role="progressbar" [style.width]="infos().usedMemoryPercent(infos().info) + '%'"
                   [attr.aria-valuenow]="infos().usedMemoryPercent(infos().info)" aria-valuemin="0" aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>

        {{infos().info | json }}
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header">Workers</div>
      <div class="card-block">

        <div class="row">
          {{infos().node | json}}

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-header">Network</div>
      <div class="card-block">
        {{infos().nodes | json}}
      </div>
    </div>
  </div>

</div>
