<div class="form-check">

  <input id="{{id}}"
         type="{{type}}"
         class="form-check-input {{data.checked(name) ? data.valid(name) ? 'is-valid' : 'is-invalid' : '' }}"
         placeholder="{{name}}"
         [checked]="isChecked"

         name="{{ name }}"
         [attr.readonly]="isReadOnly"
  >
  <label for="{{id}}" class="form-check-label">{{label}}</label>
  <small *ngIf="help" id="{{name}}Help" class="form-text text-muted">{{help}}</small>
  <div [hidden]="!(data.checked(name) && !data.valid(name))" class="invalid-feedback">
    <ul>
      <li *ngFor="let message of data.messages(name)" class="message-validator-{{ message.type }}">{{ message.content }}</li>
    </ul>
  </div>
</div>
