<div class="card">
  <div class="card-header">
    <h3>Storage entity list</h3>
  </div>
  <div class="card-body">

    <div class="grid-choice">
      <div class="grid-selection d-sm-inline-block" *ngFor="let viewType of viewTypes">
        <a class="btn btn-light btn-sm" (click)="switchLayout(viewType)">
          <i class="fa fa-list"></i>{{viewType.extra.label}}
        </a>
      </div>
    </div>

    <txs-storage-query-embedded
      [name]="name"
      [options]="options"
      [componentClass]="gridComponentClass"
    >
    </txs-storage-query-embedded>

  </div>
</div>
