<div class="card">
  <div class="card-header">
    <h3>Entity Types</h3>
  </div>
  <div class="card-body">
    <txs-datatable>
      <table class="table hover">
        <thead>
        <tr>
          <th>Schema</th>
          <th>Name</th>
          <th>machineName</th>
          <th>Options</th>
          <th>Ops</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let entityDef of getEntityRefs()">
          <td>{{entityDef.getClassRef().getSchema()}}</td>
          <td>{{entityDef.name}}</td>
          <td>{{entityDef.machineName}}</td>
          <td>
            <details>
              <summary>JSON</summary>
              <pre class="language-json">{{entityDef.getOptions() | json}}</pre>
            </details>
          </td>
          <td>
            <a class="btn btn-primary"
               [routerLink]="[entityService.getNgUrlPrefix(),entityDef.machineName,'query']">Query</a>
            <a class="btn btn-success"
               [routerLink]="[entityService.getNgUrlPrefix(),entityDef.machineName,'create']">New</a>
            <a class="btn btn-warning"
               [routerLink]="[entityService.getNgUrlPrefix(),entityDef.machineName,'structure']">Schema</a>
            <!--
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
            -->
          </td>
        </tr>
        </tbody>
      </table>
    </txs-datatable>
  </div>
</div>
