<div class="card">
  <div class="card-header">
    <h3>Entity structure {{entityDef ? entityDef.name : ''}}</h3>
  </div>
  <div class="card-body">

    <div *ngIf="entityDef">
      Options:
      <pre class="language-js">{{ entityDef.getOptions() | json }}</pre>

      <div *ngIf="propertyDefs.length > 0">
        <h3>Properties</h3>
        <table class="table hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Type</th>
            <th>Cardinality</th>
            <th>Options</th>
            <th>Validator</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let propertyRef of propertyDefs">
            <td>
              <span class="{{ 'level-' + propertyRef.level}}"></span>
              {{ propertyRef.property.name }}
            </td>
            <td>{{propertyRef.property.getSourceRef().name}}</td>
            <td>
              <div *ngIf="propertyRef.property.isEntityReference()">
                <a
                  [routerLink]="[entityService.getNgUrlPrefix(),propertyRef.property.getTargetRef().machineName,'structure']"
                  routerLinkActive="true">
                  {{type(propertyRef.property)}}{{propertyRef.property.isCollection() ? '[]' : ''}}
                </a>
              </div>
              <div *ngIf="!propertyRef.property.isEntityReference()">
                {{type(propertyRef.property)}}{{propertyRef.property.isCollection() ? '[]' : ''}}
              </div>
            </td>

            <td>{{cardinality(propertyRef.property)}}</td>
            <td>
              <details>
                <summary>JSON</summary>
                <pre class="language-json">{{options(propertyRef.property) | json}}</pre>
              </details>
            </td>
            <td>
              <details>
                <summary>JSON</summary>
                <pre class="language-json">{{validator(propertyRef.property) | json}}</pre>
              </details>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="referrerProps.length > 0">
        <h3>Referring properties</h3>
        <table class="table hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Source</th>
            <th>Type</th>

            <th>Cardinality</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let propertyRef of referrerProps">
            <td>
              {{ propertyRef.name }}
            </td>
            <td>
              <a [routerLink]="[entityService.getNgUrlPrefix(),propertyRef.object.machineName(),'structure']"
                 routerLinkActive="active">
                {{propertyRef.object.className}}</a>
            </td>
            <td>
              <div *ngIf="propertyRef.isEntityReference()">
                <a [routerLink]="[entityService.getNgUrlPrefix(),propertyRef.targetRef.machineName(),'structure']"
                   routerLinkActive="active">
                  {{type(propertyRef)}}{{propertyRef.isCollection() ? '[]' : ''}}
                </a>
              </div>
              <div *ngIf="!propertyRef.isEntityReference()">
                {{type(propertyRef)}}{{propertyRef.isCollection() ? '[]' : ''}}
              </div>
            </td>

            <td>{{propertyRef.cardinality}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

