@import "../../scss/themes/admin/partials/variables";

$red: $danger-color;
$yellow: $warning-color;
$blue: $info-color;
$green: $success-color;

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@mixin keyframes($animationName) {
  animation: .3s ease-out 0s 1 forwards $animationName;
}

:host {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
}

.message-container {
  transform-origin: top right;

  @include keyframes(slidein);
  &.closing {
    @include keyframes(slideout);
  }
  font-size: .8em;
  position: relative;
  padding: 1rem;
  margin: .75rem 0;
  width: 27rem;
  /*
  background-color: rgba(250, 250, 250, .9);
  border: .15rem solid darken(whitesmoke, 5%);
  border-radius: .5rem 0 0 .5rem;
  box-shadow: -.1rem .1rem .5rem #666;
  &.error {
    border-left: .5rem solid $red;
  }
  &.warn {
    border-left: .5rem solid $yellow;
  }
  &.info {
    border-left: .5rem solid $blue;
  }
  &.success {
    border-left: .5rem solid $green;
  }
  */
}

.close {/*
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  /*
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
  padding: .5rem .2rem;
  */
}

.heading {
  display: block;
  font-weight: bold;
}
