<li class="nav-item txs-menu-caption" *ngIf="isCaption()">
  <label>
    <span class="txs-micon"><i class="icon" [ngClass]="icon()"></i></span>
    <span class="txs-mtext">{{entry.label}}</span>
  </label>
</li>

<li class="nav-item"
    *ngIf="(isShown | async)"
    routerLinkActive="active"
>

  <a *ngIf="!entry.isGroup"
     [routerLink]="'/'+entry.path"
     class="nav-link"
     routerLinkActive="active"
     [class.disabled]="(isDisabled | async)">
    <span class="txs-micon"><i class="icon" [ngClass]="icon()"></i></span>
    <span class="txs-mtext">{{entry.label}}</span>
  </a>

  <ul class="txs-submenu" *ngIf="hasChildren()">
    <ng-container *ngFor="let subEntry of entry.children">
      <menu-link [entry]="subEntry"></menu-link>
    </ng-container>
  </ul>

</li>
