
<div class="row small border border-{{state()}}" *ngIf="taskLog"  >
  <div class="col-md-1">{{taskLog.tasksId}}</div>
  <div class="col-md-1">{{taskLog.respId}}</div>
  <div class="col-md-2">{{taskLog.taskName}}</div>
  <div class="col-md-1">{{taskLog.state}}</div>
  <div class="col-md-1">{{taskLog.duration / 1000}}s</div>
  <div class="col-md-2">{{taskLog.started | date:"HH:mm:ss.SSS"}}</div>
  <div class="col-md-2">{{taskLog.stopped | date:"HH:mm:ss.SSS"}}</div>
  <div class="col-md-1">{{taskLog.started | date:"dd.MM.yyyy"}}</div>

  <div class="col-md-1"><a class="btn btn-sm btn-info"
                           [routerLink]="[tasksService.getNgUrlPrefix(),'status',taskLog.nodeId,taskLog.tasksId]">
    Status</a></div>
</div>
